body {
  position: relative;
  min-height: 100vh;
  background-color: #EFEFEF;
  padding-bottom: 30px
}

/*Navigation*/
.navbar-color {
  background-color: #FF3B3F;
}

.navbar-brand {
  color: #EFEFEF;
}

.nav-link {
  color: #EFEFEF;
}

.navbar-brand:hover {
  color: #a7a7a7;
}

.nav-item a:hover {
  color: #a7a7a7;
}

.nav-link img {
  width: 25px;
  opacity: 50%;
}

.dropdown-item.active, .dropdown-item:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: #ffffff;
}

/*Footer*/
.footer {
  position: absolute;
  background-color: #FF3B3F;
  bottom: 0;
  width: 100%;
  height: 30px;
}

/*Homepage*/
.jumbo-container {
  margin: 100px auto;
  background-color: #CAEBF2;
}

/*Portfolio*/
.webimage {
  width: 100%;
}

.project {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 50px;
  
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(rgba(255, 255, 255, 0) 30%, rgb(200, 200, 200) 70%);
}
.overlay:hover {
  opacity: 0.75;
}
.overlay-text {
  position: absolute;
  bottom: 0;
  padding-bottom: 50px;
}

.image-title {
  color: black;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 20px;
  line-height: 40px;
}
.image-description {
  color: black;
  font-size: large;
  margin-left: 20px;
}

/*Resume*/
.row {
  margin: 70px 0;
}

.col {
  text-align: center;
}

.skills img {
  width: 100px;
  opacity: 60%;
  margin: auto;
}

.about-container {
  display: flex;
}

.about-text {
  margin: auto 0;
  width: 45%;
}

.about-container img{
  margin-left: auto;
  width: 350px;
  height: 350px;
}

/*Contact*/
.contact-input {
  margin: 50px 0;
}

.contact-textarea {
  margin: 50px 0;
  height: 350px;
}


.colorpal {
  background-color:#CAEBF2;
  background-color:#A9A9A9;
  background-color:#FF3B3F;
  background-color:#EFEFEF;
}

/*Edit Portfolio*/
.project-input {
  margin-bottom: 20px;
}

.project-textarea {
  height: 200px;
}

.project-webimage {
  width: 100%;
  height: 100%;
}

.project-row {
  margin-top: 0px;
  margin-bottom: 100px;
}